@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --white-color: #fff;
  --black-color: #181818;
  --pink-color: #d81b60;
  --Aboreto-font: "Aboreto", system-ui;
  --Playfair-font: "Playfair Display", serif;
  --Inter-font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1520px;
  margin: 0 auto;
}

.pink {
  color: var(--pink-color);
}

/*! PAGE 1  */

.page1 {
  background-image: url("./assests/model.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 83px 0 100px 0;
}

[alt="Union"] {
  position: absolute;
  bottom: 0;
  left: 0;
}

.page1_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page1_content h5 {
  font-family: var(--Inter-font);
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 1%;
  position: relative;
}

.page1_content h5::before {
  content: url(./assests/small-star.png);
  position: absolute;
  left: -89%;
}

.page1_content h5 #march {
  letter-spacing: 5px;
}

.page1_content h5 #eight {
  font-weight: 700;
}

.page1_content h1 {
  font-family: var(--Aboreto-font);
  font-weight: 400;
  font-size: 100px;
  text-align: center;
  line-height: 113px;
  margin-bottom: 20px;
}

.page1_content h1 #women {
  color: var(--pink-color);
  position: relative;
}
.page1_content h1 #women::after {
  content: url(./assests/love-symbol.png);
  position: absolute;
  top: -53%;
  right: -23%;
}

.page1_content h1 #pet {
  font-family: var(--Playfair-font);
  font-weight: 700;
  text-align: center;
  position: relative;
}

.page1_content h1 #pet::before {
  content: url("./assests/peace-symbol.png");
  position: absolute;
  left: -73%;
}

.page1_content h1 #pet::after {
  content: url("./assests/pet_footprint.png");
  position: absolute;
  right: -20%;
}

.page1_content > h1,
.page1_content > h5,
.page1_content > h3,
.page1_content > p {
  color: var(--white-color);
}

.page1_content h3 {
  font-family: var(--Inter-font);
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 46px;
  position: relative;
}

.page1_content h3::after {
  content: url(./assests/small-star.png);
  position: absolute;
  bottom: 81%;
  right: -2%;
}

.page1_content p {
  font-family: var(--Inter-font);
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.page1_content p::before {
  content: url("./assests/medium-star.png");
  position: absolute;
  left: -24%;
}

.page1_content p::after {
  content: url(./assests/medium-star.png);
  position: absolute;
  top: -65%;
  right: -17%;
}

.page1_content .reserve_btn {
  padding: 15px 44px;
  border: none;
  outline: none;
  font-family: var(--Inter-font);
  font-size: 21px;
  color: var(--white-color);
  border-radius: 60px;
  background-color: var(--pink-color);
  box-shadow: 0px 0px 5px 0px #00000040;
}

/*! PAGE 2  */

.page2 {
  background-image: url("./assests/model-page2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.page2_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.page2_content,
.page2_words > h1,
.page2_words > p {
  color: var(--black-color);
}

.page2_content h1 {
  font-family: var(--Playfair-font);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.page2_content #attend {
  color: var(--pink-color);
}

.page2_content p {
  font-family: var(--Inter-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
  margin-bottom: 30px;
}

.page2_content ul {
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  vertical-align: middle;
}

.page2_words {
  flex-basis: 50%;
}

.page2_images {
  flex-basis: 50%;
}

/*! PAGE 3  */

.page3 {
  background-image: url(./assests/page3-model.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.page3_content {
  display: flex;
  flex-direction: column;
  padding: 0 12.5%;
}

.page3_content .page3-one h1 {
  font-family: var(--Playfair-font);
  font-weight: 700;
  font-size: 50px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 62px;
}

.page3_content .page3-two {
  display: flex;
  background-color: var(--white-color);
  border-radius: 28.42px;
  margin-bottom: 11px;
}

.page3-two-content {
  padding: 4% 2%;
}

.page3-two .page3-two-content > h4 {
  font-family: var(--Inter-font);
  font-weight: 600;
  font-size: 22px;
  line-height: 21.69px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 14px;
}

.page3-two .page3-two-content > p {
  font-family: var(--Inter-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 22.44px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.page3_content .page3-three {
  display: flex;
  gap: 10px;
}

.page3-div1,
.page3-div2,
.page3-div3 {
  background-color: var(--white-color);
  border-radius: 28.42px;
}

.page3-div1 > p,
.page3-div2 > p,
.page3-div3 > p {
  font-family: var(--Inter-font);
  font-weight: 400;
  font-size: 14.92px;
  line-height: 22.32px;
  text-align: center;
  padding: 18px;
  vertical-align: middle;
}

.page3-div1 > h4,
.page3-div2 > h4,
.page3-div3 > h4 {
  font-family: var(--Inter-font);
  font-weight: 600;
  font-size: 21.88px;
  line-height: 21.57px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 14px;
}

/*! PAGE 4  */

.page4 {
  background-image: url(./assests/page4-model4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4% 0;
}

.page4-content {
  display: flex;
  gap: 120px;
}

.page4-one {
  flex-basis: 50%;
}

.page4-two {
  flex-basis: 50%;
  padding: 10% 0;
}

.page4-two .pink {
  color: var(--pink-color);
}

.page4-two h1 {
  font-family: var(--Playfair-font);
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
  vertical-align: middle;
}

.page4-two p {
  font-family: var(--Inter-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: middle;
}

/*! PAGE 5  */

.page5 {
  background-image: url(./assests/page5-model.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page5-content {
  padding: 7% 0px;
}

.page5-content h1 {
  font-family: var(--Playfair-font);
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
}

.page5-content p {
  font-family: var(--Inter-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 58px;
}

.page5-two {
  display: flex;
  gap: 88px;
}

.page5-div1 > h1,
.page5-div2 > h1,
.page5-div3 > h1 {
  font-family: var(--Inter-font);
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-top: 30px;
  margin-bottom: 18px;
}

.page5-div1 > p,
.page5-div2 > p,
.page5-div3 > p {
  font-family: var(--Inter-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

/*! PAGE 6  */

.page6 {
  background-color: #f6f6f6;
}
.page6-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6% 0;
}

.page6-one {
  flex-basis: 50%;
}

.page6-one h1 {
  font-family: var(--Playfair-font);
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 50px;
}

.page6-one p {
  font-family: var(--Inter-font);
  font-weight: 400;
  font-size: 27px;
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 20px;
}

.page6-one h2 {
  font-family: var(--Inter-font);
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 10px;
}

.page6-one #page6-para {
  font-family: var(--Inter-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.page6-two {
  flex-basis: 50%;
}

/*! PAGE 7  */

.page7 {
  background-color: #fff;
}

.page7-content {
  padding: 7% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page7-one h1 {
  font-family: var(--Playfair-font);
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 60px;
}

.page7-two {
  display: flex;
  align-items: center;
  gap: 91px;
  margin-bottom: 42px;
}

.page7-three p {
  font-family: var(--Inter-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.page7-three {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*! PAGE 8 */

.page8 {
  background-color: #fff4f4;
}

.page8-content {
  padding: 100px 0;
}

.page8-content h1 {
  font-family: var(--Playfair-font);
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 50px;
}

.page8-content p {
  font-family: var(--Inter-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 30px;
}

.page8-content h3 {
  font-family: var(--Inter-font);
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 40px;
}

hr {
  margin-bottom: 40px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page8-content button {
  border-radius: 14px;
  padding: 16px 50px;
  border: none;
  outline: none;
  background-color: var(--pink-color);
  font-family: var(--Inter-font);
  color: var(--white-color);
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}
